.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board {
  width: 300px;
  height: 300px;
  background-color: #dedede;
}

.row {
  height: 100px;
  display: flex;
  flex-direction: row;
}

.status {
  font-size: 50px;
}

.scene {
  display: inline-block;
  width: 100px;
  padding: 2px;
}

.card {
  /* position: relative; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px; */
  color: white;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--frontX {
  background: crimson;
  transform: rotateY(180deg);
}

.card__face--frontO {
  background: slateblue;
  transform: rotateY(180deg);
}

.card__face--back {
  background: #8f8f8f;
}
